#sobre {
  img {
    position: relative;
    width: 300px;
    animation: img-reveal .8s ease-out;
    transition: all .3s ease;
    &:hover {
      filter: drop-shadow(0 16px 20px #a1a1a1);
      transform: scale(1.1);
    }
  }

  p {
    margin-top: 60px;
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
    color: $secondary-color;
  }

  .buttons-container {
    height: auto;
    width: 100%;
    text-align: center;

    button {
      display: inline-block;
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  @media screen and (max-width: 768px) {
    p {
      margin-top: 40px;
      font-size: 22px;
      line-height: 35px;
    }
    .buttons-container {
      button {
        margin-top: 35px;
        margin-bottom: 35px;
      }
    }
  }

  @media screen and (max-width: 455px) {
    .ultimo {
        margin-top: 0 !important;
      }
  }

}

@keyframes img-reveal {
  0% {
    opacity: 0;
    // top: -100px;
    transform: scale(0);
  }
  30% {
    opacity: .9;
    transform: scale(1.1);
  }
  60% {
    transform: scale(.95);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    top: 0;
  }
}
