#sobre {
  p {
    margin-top: 80px;
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
    color: $secondary-color;
  }

  .buttons-container {
    height: auto;
    width: 100%;
    text-align: center;

    button {
      display: inline-block;
      margin-right: 10px;
      margin-left: 10px;
    }
  }

}
