.cont {
  position: relative;
  z-index: 1;
}

#copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -2;
  height: 100px;
  width: 100%;
  background-color: $secondary-color;
  color: $bg-color;
  text-align: center;
  font-size: 16px;
  font-weight: 300;

  .fa {
    padding-top: 42px;
    margin-left: 10px;
  }
  .fa-heart {
    color: $danger-color;
  }
}
