.row.nogutters {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.thumb {
  text-align: center;
  height: 250px;
  width: 100%;
  background-size: 150%;
  background-position: center;
  transition: background-size 1s ease;

  &:hover {
    background-size: 120%;
    background-position: relative;
  }

  &::before {
    content: "";
    @include position(absolute, 0 0 0 0);
    background-color: rgba(0, 0, 0, 0.13);
    @include transition(all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000));

  }

  &:hover::before,
  &:active::before {
    background-color: $main-color-opacity;
    @include transition(all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000));
  }

  &:hover span {
    opacity: 1;
  }

  &:hover .titulo {
    line-height: 220px;
  }
  &:hover .subtitulo {
    line-height: 320px;
  }

  span {
    display: block;
    height: 1px;
    position: relative;
    text-align: center;
    color: $bg-color;
    opacity: 0;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 400ms ease;
  }

  .titulo {
    line-height: 50px;
    font-size: 24px;
  }
  .subtitulo {
    line-height: 500px;
    font-size: 13px;
  }
}

