#quote {
  margin: 0;
  padding: 60px 0;
  background: url("../img/code.png") repeat-y;
  text-align: center;
  font-weight: 400;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  color: #fff;

  .row {
    height: auto;
    width: 60%;
    margin: auto;
  }

  p {
    font-size: 24px;
    line-height: 1.6;
  }

  h6 {
    margin-top: 40px;
    font-size: 16px;
    font-weight: 300;
  }

  @media screen and (max-device-width: 768px) {
    .row {
      width: 85%;
    }
    p {
      font-size: 20px;
    }
  }
}




