.social {
  position:relative;
  z-index: 1;
  height: 200px;
  background-color: $main-color;
  text-align: center;
  margin-bottom: 100px;

  i {
    font-size: 70px;
    color: $bg-color;
    line-height: 200px;
    margin-right: 3.5%;
    margin-left: 3.5%;
    transform: scale(.9);
    transition: transform 250ms ease, color 130ms linear;

    &:hover {
      color: $secondary-color;
      transform: scale(1.2);
    }
  }

  &.no-margin {
        margin: 0;
    }

  @media screen and (max-device-width: 768px) {
    height: 150px;
    i {
      font-size: 50px;
      line-height: 150px;
    }
  }
}