/*============================
  COLORS
============================*/
$bg-color: #f9f9f9;
$main-color: #77be32;
$main-color-opacity: rgba(119, 190, 50, 0.9);
$main-color-nav-full: rgba(119, 190, 50, 0.95);
$secondary-color: #2f2f2f;
$text-color: #777777;

/*============================
  SCREEN SIZES
============================*/
$sm: 768px;
$md: 992px;
$lg: 1200px;
