/*============================
  COLORS
============================*/
/*============================
  SCREEN SIZES
============================*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; }

header {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

a {
  color: #2f2f2f; }
  a:hover {
    text-decoration: none;
    color: #2f2f2f; }

nav {
  width: 100%; }
  nav::after {
    clear: both;
    content: "";
    display: table; }

#hamburger {
  display: none;
  z-index: 99999;
  position: fixed;
  top: 20px;
  right: 20px; }

#nav-full {
  z-index: 10;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(119, 190, 50, 0.95);
  visibility: hidden;
  opacity: 0;
  transform: scale(1.3);
  transition: all .35s ease; }
  #nav-full.is-shown {
    transform: scale(1);
    opacity: 1;
    visibility: visible; }
  #nav-full img {
    position: fixed;
    top: 30px;
    right: 30px; }

.ul-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

.ul-full {
  display: block;
  float: none;
  text-align: left;
  margin: 0;
  padding: 0; }

.ul-full li {
  display: inline-block;
  font-size: 60px;
  color: #f9f9f9;
  margin-left: 0;
  margin-top: 25px; }
  .ul-full li:after {
    content: '';
    display: block;
    height: 8px;
    width: 0;
    background: transparent;
    -webkit-transition: width 0.4s ease, background-color 0.4s ease;
    -moz-transition: width 0.4s ease, background-color 0.4s ease;
    transition: width 0.4s ease, background-color 0.4s ease; }
  .ul-full li:hover:after {
    width: 100%;
    background-color: #f9f9f9; }
  @media screen and (max-width: 600px) {
    .ul-full li {
      font-size: 48px; } }

ul {
  float: right;
  margin: 30px;
  list-style: none; }

li {
  display: inline-block;
  padding-bottom: 5px;
  margin-left: 10px;
  border-bottom: 3px solid transparent;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #2f2f2f; }
  li:after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    -webkit-transition: width 0.4s ease, background-color 0.4s ease;
    -moz-transition: width 0.4s ease, background-color 0.4s ease;
    transition: width 0.4s ease, background-color 0.4s ease; }
  li:hover:after {
    width: 100%;
    background: #77be32; }

header #call-to-action {
  text-align: center;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap; }

header h1 {
  margin-bottom: 50px; }

header h1 span {
  padding: 10px;
  border-top: 10px solid #77be32;
  border-bottom: 10px solid #77be32;
  font-weight: 600;
  text-transform: uppercase;
  color: #2f2f2f;
  font-size: 100px; }
  @media screen and (max-width: 830px) {
    header h1 span {
      font-size: 4em; } }
  @media screen and (max-width: 770px) {
    header h1 span {
      font-size: 2em; } }
  @media screen and (max-width: 615px) {
    header h1 span {
      font-size: 1.8em; } }
  @media screen and (max-width: 561px) {
    header h1 span {
      font-size: 1.4em; } }
  @media screen and (max-width: 451px) {
    header h1 span {
      font-size: 1.2em;
      border-top: 5px solid #77be32;
      border-bottom: 5px solid #77be32;
      padding-top: 5px; } }

header h6 {
  text-transform: uppercase;
  color: #2f2f2f;
  font-weight: 600;
  font-size: 16px; }
  @media screen and (max-width: 451px) {
    header h6 span {
      display: block;
      visibility: hidden; } }

header h6 span {
  margin: 0 20px; }

header #arrow {
  opacity: 1;
  position: absolute;
  display: block;
  text-align: center;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 25px;
  width: 25px; }

header i {
  color: #2f2f2f;
  font-size: 20px; }

#sobre img {
  position: relative;
  width: 300px;
  animation: img-reveal .75s .3s ease-out backwards;
  animation-play-state: paused;
  transition: all .3s ease; }
  #sobre img:hover {
    filter: drop-shadow(0 16px 20px #a1a1a1);
    transform: scale(1.1); }
#sobre p {
  color: #777777;
  margin-top: 60px;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 200;
  line-height: 50px;
  text-align: center; }
#sobre .buttons-container {
  height: auto;
  width: 100%;
  text-align: center; }
  #sobre .buttons-container button {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px; }
@media screen and (max-width: 768px) {
  #sobre p {
    margin-top: 40px;
    font-size: 22px;
    line-height: 35px; }
  #sobre .buttons-container button {
    margin-top: 35px;
    margin-bottom: 35px; } }
@media screen and (max-width: 455px) {
  #sobre .ultimo {
    margin-top: 0 !important; } }

.social {
  position: relative;
  z-index: 1;
  height: 200px;
  background-color: #77be32;
  text-align: center;
  margin-bottom: 100px; }
  .social i {
    font-size: 70px;
    color: #f9f9f9;
    line-height: 200px;
    margin-right: 3.5%;
    margin-left: 3.5%;
    transform: scale(0.9);
    transition: transform 250ms ease, color 130ms linear; }
    .social i:hover {
      color: #2f2f2f;
      transform: scale(1.2); }
  .social.no-margin {
    margin: 0; }
  @media screen and (max-device-width: 768px) {
    .social {
      height: 150px; }
      .social i {
        font-size: 50px;
        line-height: 150px; } }

#contato ::-webkit-input-placeholder {
  color: #777777; }
#contato :-moz-placeholder {
  color: #777777; }
#contato ::-moz-placeholder {
  color: #777777; }
#contato :-ms-input-placeholder {
  color: #777777; }
#contato input, #contato textarea {
  background-color: transparent;
  border: none;
  font-size: 24px;
  font-weight: 300;
  color: #999;
  -webkit-transition: all, 0.3s !important;
  -moz-transition: all, 0.3s !important;
  transition: all, 0.3s !important; }
  #contato input:focus, #contato textarea:focus {
    color: #777777;
    outline: none;
    border-color: #77be32;
    -webkit-transition: all, 0.3s !important;
    -moz-transition: all, 0.3s !important;
    transition: all, 0.3s !important; }
#contato input {
  width: 100%;
  padding: 10px 10px 5px 10px;
  border-bottom: 2px solid #2f2f2f;
  margin-bottom: 40px; }
  #contato input:invalid {
    box-shadow: none;
    border-bottom: 2px solid #c0392b; }
#contato textarea {
  width: 100%;
  padding: 20px;
  border: 2px solid #2f2f2f;
  height: 360px; }
  @media screen and (max-width: 451px) {
    #contato textarea {
      height: 300px; } }
#contato button {
  margin-top: 38px; }
#contato #feedbackForm {
  float: left;
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px; }
#contato .erro {
  color: #c0392b; }
#contato .sucesso {
  color: #77be32; }

.cont {
  position: relative;
  z-index: 1; }

#copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -2;
  height: 100px;
  width: 100%;
  background-color: #2f2f2f;
  color: #f9f9f9;
  text-align: center;
  font-size: 16px;
  font-weight: 300; }
  #copyright .fa {
    padding-top: 42px;
    margin-left: 10px; }
  #copyright .fa-heart {
    color: #c0392b; }

.row.nogutters {
  margin-left: 0;
  margin-right: 0; }

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*="col-"] {
  padding-left: 0;
  padding-right: 0; }

.flex {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-flow: row wrap; }

.flex__item {
  flex: 1 1 350px;
  height: 250px; }

.thumb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
  background-size: 150%;
  background-position: center;
  transition: all .5s ease;
  transform: translateZ(0); }
  .thumb:hover {
    background-size: 120%;
    background-position: relative;
    transform: translateZ(0); }
  .thumb::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.13);
    -webkit-transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
    -moz-transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
    transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1); }
  .thumb:hover::before, .thumb:active::before {
    background-color: rgba(249, 249, 249, 0.9);
    -webkit-transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
    -moz-transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
    transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1); }
  .thumb:hover span {
    opacity: 1; }
  .thumb:hover .thumb__titulo, .thumb:hover .thumb__separator, .thumb:hover .thumb__subtitulo {
    opacity: 1;
    transform: translateY(0); }
  .thumb:hover .thumb__separator {
    width: 30px; }

.thumb__titulo,
.thumb__separator,
.thumb__subtitulo {
  opacity: 0;
  transition: all .4s ease; }

.thumb__titulo {
  transform: translateY(-50px);
  font-size: 24px;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #2f2f2f; }

.thumb__separator {
  height: 3px;
  width: 0;
  margin: 5px auto 25px auto;
  background-color: #77be32; }

.thumb__subtitulo {
  transform: translateY(50px);
  font-size: 19px;
  color: #777777; }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.6; }

.hamburger-box {
  width: 40px;
  height: 27px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2.5px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 5px;
    background-color: #2f2f2f;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -11px; }
  .hamburger-inner::after {
    bottom: -11px; }

/*
 * Spin
 */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

@keyframes img-reveal {
  0% {
    transform: translateY(0);
    transform: scale(0);
    opacity: 0; }
  30% {
    opacity: .9;
    transform: scale(1.2); }
  60% {
    transform: scale(0.9); }
  100% {
    transform: translateY(0);
    transform: scale(1);
    opacity: 1;
    top: 0; } }
html, body {
  padding: 0;
  margin: 0;
  height: 100%; }

body {
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  margin: 0;
  font-family: Hind, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #777777; }

header,
section {
  background-color: inherit; }

a:active,
a:focus {
  outline: none; }

@media screen and (min-width: 1200px) {
  .container {
    width: 990px; } }

#home-container {
  width: auto;
  height: 100%;
  margin: 0;
  padding: 0; }

.hamburger {
  z-index: 20;
  position: fixed;
  top: 20px;
  right: 20px;
  opacity: 0;
  transform: translateX(80px);
  transition: all .3s ease; }
  .hamburger.is-shown {
    opacity: 1;
    transform: translateX(0); }
  .hamburger .hamburger-inner, .hamburger .hamburger-inner::before, .hamburger .hamburger-inner::after {
    transition: all .3s !important; }
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
    background-color: #f9f9f9; }
  .hamburger:hover {
    opacity: .6; }
  .hamburger:focus {
    outline: none; }

h2 {
  text-transform: uppercase;
  font-size: 36px;
  color: #2f2f2f;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px; }

.separator {
  height: 4px;
  width: 50px;
  background-color: #77be32;
  margin: 0 auto;
  margin-bottom: 80px; }

button:not(.hamburger) {
  font-family: 'Montserrat', sans-serif;
  margin: 80px auto;
  padding: 20px 35px;
  background-color: #f9f9f9;
  border: 2px solid #77be32;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #777777;
  /* efeito 3d */
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
  button:not(.hamburger)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #77be32;
    z-index: -1;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s; }
  button:not(.hamburger):hover {
    color: #f9f9f9;
    border-color: #77be32; }
    button:not(.hamburger):hover::before {
      opacity: 1;
      background-color: #77be32;
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
      -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

/*# sourceMappingURL=main.css.map */
