@import "vars";
@import "bourbon/_bourbon";
@import "mixins";
@import "fonts";
@import "header";
@import "about";
// @import "quote";
@import "social";
@import "contact";
@import "footer";
@import "portfolio";
@import "hamburgers";
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  @extend html;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  margin: 0;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: $bg-color;
  color: $text-color;
}

header,
section {
  background-color: inherit;
}

a:active,
a:focus {
  outline: none;
}

.container {
  @media screen and (min-width: 1200px) {
    width: 990px;
  }
}

#home-container {
  width: auto;
  height: 100%;
  margin: 0;
  padding: 0;
}

.hamburger {
  z-index: 20;
  position: fixed;
  top: 20px;
  right: 20px;
 
  &.is-active {
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      transition: all .5s;
      background-color: $bg-color;
    }
  }
  &:focus {
    outline: none;
  }
}

h2 {
  text-transform: uppercase;
  font-size: 36px;
  color: $secondary-color;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
}

.separator {
  height: 4px;
  width: 50px;
  background-color: $main-color;
  margin: 0 auto;
  margin-bottom: 80px;
}

button:not(.hamburger) {
  margin: 80px auto;
  padding: 20px 35px;
  background-color: $bg-color;
  border: 2px solid $main-color;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: $text-color;

  /* efeito 3d */
  vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
  overflow: hidden;
	-webkit-transition: border-color 0.3s, color 0.3s;
	transition: border-color 0.3s, color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: $main-color;
    z-index: -1;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
  }
  &:hover {
    color: $bg-color;
	  border-color: $main-color;
    &::before {
      opacity: 1;
      background-color: $main-color;
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
      -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
  }
}